# Visual Studio
.vs/
*.slnx
*.sqlite
Browse.VC.db*
FileContentIndex/
ipch/
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.ipch
*.vcxproj.user

# Build artifacts
Debug/
Release/
x64/
*.tlog
*.ilk
*.obj
*.idb
*.pdb
*.exe