# Visual Studio
.vs/
*.slnx
*.sqlite
Browse.VC.db*
FileContentIndex/
ipch/
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.ipch
/Password Validator/Password Validator/x64/Debug/Password.8d727d73.tlog/CL.command.1.tlog
